.categoryWrapper {
  position: sticky;
  top: calc(60px + var(--mantine-spacing-xl));
  padding-top: 20px;
  padding-left: 32px;
  z-index: 10;
}


.sectionLabel {
  letter-spacing: 0.35em;
  color: #ffb347;
}


